<div class="overlay-content" role="dialog" aria-modal="true" aria-label="Application navigation">
  <div class="menu-panel">
    <div class="menu-header">
      <span class="menu-title">Menu</span>
      <ui-button class="close-button" variant="ghost" size="md" (click)="onMenuClose()" aria-label="Close menu">
        X
      </ui-button>
    </div>

    <nav class="nav-list" aria-label="Primary navigation">
      @for (item of navItems; track $index) {
      @if (!item.requiresAuth) {
      <ng-container *ngTemplateOutlet="navLink; context: {$implicit: item}"></ng-container>
      } @else {
      <ng-container *dirHasPermission="item.requiredPermissions">
        <ng-container *ngTemplateOutlet="navLink; context: {$implicit: item}">
        </ng-container>
      </ng-container>
      }
      }
    </nav>
  </div>
</div>

<ng-template #navLink let-item>
  <a [routerLink]="item.link" routerLinkActive="is-active" class="nav-link" [attr.title]="item.label"
    (click)="onItemClicked(item)">
    <span class="nav-icon" aria-hidden="true">{{ item.icon }}</span>
    <span class="nav-label">{{ item.label }}</span>
  </a>
</ng-template>
