<div class="overlay-content">
  <nav class="p-2 space-y-1">
    @for (item of navItems; track $index) {
    @if (!item.requiresAuth) {
    <ng-container *ngTemplateOutlet="navLink; context: {$implicit: item}"></ng-container>
    } @else {
    <ng-container *dirHasPermission="item.requiredPermissions">
      <ng-container *ngTemplateOutlet="navLink; context: {$implicit: item}"></ng-container>
    </ng-container>
    }
    }
  </nav>
</div>
<ng-template #navLink let-item>
  <a [routerLink]="item.link" routerLinkActive="bg-ui-surfaceAlt"
    class="flex items-center gap-3 rounded-lg px-3 py-2 hover:bg-ui-surfaceAlt" [attr.title]="item.label"
    (click)="itemClicked.emit(item)">
    <span class="text-lg leading-none">{{ item.icon }}</span>
    <span class="text-sm font-medium truncate block">{{ item.label }}</span>
  </a>
</ng-template>